
body {
    margin: 0rem;
    padding: 0rem;
    background-color: #000000;
    overflow: scroll;
    font-size: 2rem;
    color: gold;
    line-height: 1.8rem;
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: repeat(auto);
}

main img {
    max-width: 100%;
}

 section ul {
    text-align: center;
    padding: 1rem 0rem;
    list-style-type: style none;
    text-decoration: none;
    display: block;
}
 section li {
    text-align: center;
    padding: .5rem;
    list-style-type: style none;
    display: block;
}
a {
    text-decoration: none;
    text-align: center;
    vertical-align: center;
}
hr {
    margin: 0.25rem;
    padding: 0rem;
    height: 3px;
    text-align: left;
    color: #ffd700;
}

header {
    grid-column: 1 /span 3;
    margin: 0rem 0rem 2rem 0rem;
}

nav {
    text-align: left;
    vertical-align: text-top;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0rem;
    width: 60%;
    height: 30%;
    background-color: #8f0d0d;
    display: inline;
}

nav.verticleList {
    grid-column: 1;
    grid-row: 1;
    margin: 0rem;
    padding: 0rem;
    width: 250px;
    height: auto;
    display: block;
    border-radius: 5%;
}

.logo {
    grid-column: 2;
    grid-row: 1 / span 2;
}

#login {
    grid-column: 3;
    grid-row: 1;
    margin: 0rem;
    padding:0.5rem;
    width: 40%;
    height: 20%;
    border-radius: 5%;
    text-align: center;
}

#login ul {
    margin: 0rem;
    padding: 1rem;
    display: block;
    line-height: 2rem;
}
#login {
    display: block;
    margin: 0rem;
    padding: 0rem;
    border: #ffd700 outset;
}
#login:hover {
    border: #e5ce4b inset;
}

#login ul, #login li {
    padding: 0rem;
    margin: 0.5rem;
    font-size: 2.5rem;
}

nav ul {
    padding: 0rem;
    list-style-type: style none;
    display: inline;
}

nav ul li {
    padding: 0rem 1rem;
    font-size: 2rem;
    display: inline;
    line-height: 1.8rem;
}

nav ul li a:link,
nav ul li a:visited {
    color: #000000;
}

nav ul li a:hover,
nav ul li a:active {
    color: #ffd700;
}

nav.verticleList ul li {
    text-align: center;
    padding: 1rem 0rem;
    list-style-type: style none;
    display: block;
}

h1 {
    text-align: center;
    vertical-align: text-bottom;
    font-size: 5rem;
    font-family: fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    margin: 1rem;
    text-align: center;
    vertical-align: text-bottom;
    text-decoration: underline;
    font-size: 3rem;
    font-family: fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    margin: 0rem;
    text-align: left;
    vertical-align: text-top;
    font-size: 3rem;
    font-family: fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    width: 6in;
    line-height: 3rem;
    float: left;
    margin: 3rem;
    font-family: fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
}
form {
    width: 25%;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}
fieldset {
    border: none;
}
form a {
    font-size: 1.25rem;
    color: #ffd700;
    background-color: #8f0d0d;
    border-radius: 10%;
    border: #ffd700 outset;
}
form a:hover, form a:active {
    font-size: 1.25rem;
    color: #e3d688;
    background-color: #d93c3c;
    border-radius: 10%;
    border: #e9cf37 inset 3px;
}
footer {
    height: 60px;
    background-color: #8f0d0d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
footer a {
    color: #ffd700;
}