header {
    padding: 10px;
}
h1 a {
    float: right;
    text-decoration: none;
    font-family: fantasy, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#image-demo {
    width: 400px;
    border: solid 1px #000;
    margin: 10px;
}